In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
df = pd.read_csv("Nikkei 225.csv",header=[0,1,2])#skiprows=1)

In [3]:
df

,Technology,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 58_level_0,Unnamed: 59_level_0,Unnamed: 60_level_0,Unnamed: 61_level_0,Unnamed: 62_level_0,Unnamed: 63_level_0,Unnamed: 64_level_0,Unnamed: 65_level_0,Unnamed: 66_level_0,Unnamed: 67_level_0
,Pharmaceuticals,Unnamed: 1_level_1,Electric Machinery,Unnamed: 3_level_1,Automobiles & Auto parts,Unnamed: 5_level_1,Precision Instruments,Unnamed: 7_level_1,Communications,Unnamed: 9_level_1,...,Land Transport,Unnamed: 59_level_1,Marine Transport,Unnamed: 61_level_1,Air Transport,Unnamed: 63_level_1,Electric Power,Unnamed: 65_level_1,Gas,Unnamed: 67_level_1
,Code,Company Name,Code,Company Name,Code,Company Name,Code,Company Name,Code,Company Name,...,Code,Company Name,Code,Company Name,Code,Company Name,Code,Company Name,Code,Company Name
0,4151.0,"KYOWA KIRIN CO., LTD.",6479,MINEBEA MITSUMI INC.,7201.0,"NISSAN MOTOR CO., LTD.",4543.0,TERUMO CORP.,9432.0,"NTT, INC.",...,9064.0,"YAMATO HOLDINGS CO., LTD.",9101.0,NIPPON YUSEN K.K.,9201.0,"JAPAN AIRLINES CO., LTD.",9501.0,"TOKYO ELECTRIC POWER COMPANY HOLDINGS, I",9531.0,"TOKYO GAS CO., LTD."
1,4502.0,"TAKEDA PHARMACEUTICAL CO., LTD.",6501,"HITACHI, LTD.",7202.0,ISUZU MOTORS LTD.,4902.0,"KONICA MINOLTA, INC.",9433.0,KDDI CORP.,...,9147.0,"NIPPON EXPRESS HOLDINGS, INC.",9104.0,"MITSUI O.S.K.LINES, LTD.",9202.0,ANA HOLDINGS INC.,9502.0,"CHUBU ELECTRIC POWER CO., INC.",9532.0,"OSAKA GAS CO., LTD."
2,4503.0,ASTELLAS PHARMA INC.,6503,MITSUBISHI ELECTRIC CORP.,7203.0,TOYOTA MOTOR CORP.,6146.0,DISCO CORP.,9434.0,SOFTBANK CORP.,...,NaN,NaN,9107.0,"KAWASAKI KISEN KAISHA, LTD.",NaN,NaN,9503.0,"THE KANSAI ELECTRIC POWER CO., INC.",NaN,NaN
3,4506.0,"SUMITOMO PHARMA CO., LTD.",6504,"FUJI ELECTRIC CO., LTD.",7205.0,"HINO MOTORS, LTD.",7731.0,NIKON CORP.,9984.0,SOFTBANK GROUP CORP.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4507.0,"SHIONOGI & CO., LTD.",6506,YASKAWA ELECTRIC CORP.,7211.0,MITSUBISHI MOTORS CORP.,7733.0,OLYMPUS CORP.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4519.0,"CHUGAI PHARMACEUTICAL CO., LTD.",6526,SOCIONEXT INC.,7261.0,MAZDA MOTOR CORP.,7741.0,HOYA CORP.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4523.0,"EISAI CO., LTD.",6594,NIDEC CORP.,7267.0,"HONDA MOTOR CO., LTD.",7762.0,"CITIZEN WATCH CO., LTD.",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4568.0,"DAIICHI SANKYO CO., LTD.",6645,OMRON CORP.,7269.0,SUZUKI MOTOR CORP.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4578.0,"OTSUKA HOLDINGS CO., LTD.",6674,GS YUASA CORP.,7270.0,SUBARU CORP.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,6701,NEC CORP.,7272.0,"YAMAHA MOTOR CO., LTD.",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,6702,FUJITSU LTD.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,6723,RENESAS ELECTRONICS CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,6724,SEIKO EPSON CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,6752,PANASONIC HOLDINGS CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,6753,SHARP CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,6758,SONY GROUP CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,6762,TDK CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,6770,"ALPS ALPINE CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,6841,YOKOGAWA ELECTRIC CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,6857,ADVANTEST CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,6861,KEYENCE CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,6902,DENSO CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,6920,LASERTEC CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,6952,"CASIO COMPUTER CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,6954,FANUC CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,6963,"ROHM CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,6971,KYOCERA CORP.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,6976,"TAIYO YUDEN CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,6981,"MURATA MANUFACTURING CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,7735,"SCREEN HOLDINGS CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,7751,CANON INC.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,7752,"RICOH CO., LTD.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,8035,TOKYO ELECTRON LTD.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for i in range(3):
    # Assuming your DataFrame is already loaded as `df`
    current_columns = df.columns.get_level_values(i).tolist() # This is your list of column names
    new_column_names = {}  # Dictionary to store the changes
    current_category = None  # Variable to keep track of the current category

    # Loop through each column to determine its new name
    for col_name in current_columns:
        if 'Unnamed' not in col_name:
            # This is a category header
            current_category = col_name
            # The category header keeps its name, so no need to add to the rename dict
        else:
            # This is an 'Unnamed' column that should be renamed to the current category
            if current_category is not None:
                new_column_names[col_name] = current_category

    # Apply the renaming
    df.rename(columns=new_column_names, inplace=True)

# Display the result to verify
print(df.columns.tolist())

[('Technology', 'Pharmaceuticals', 'Code'), ('Technology', 'Pharmaceuticals', 'Company Name'), ('Technology', 'Electric Machinery', 'Code'), ('Technology', 'Electric Machinery', 'Company Name'), ('Technology', 'Automobiles & Auto parts', 'Code'), ('Technology', 'Automobiles & Auto parts', 'Company Name'), ('Technology', 'Precision Instruments', 'Code'), ('Technology', 'Precision Instruments', 'Company Name'), ('Technology', 'Communications', 'Code'), ('Technology', 'Communications', 'Company Name'), ('Financials', 'Banking', 'Code'), ('Financials', 'Banking', 'Company Name'), ('Financials', 'Other Financial Services', 'Code'), ('Financials', 'Other Financial Services', 'Company Name'), ('Financials', 'Securities', 'Code'), ('Financials', 'Securities', 'Company Name'), ('Financials', 'Insurance', 'Code'), ('Financials', 'Insurance', 'Company Name'), ('Consumer Goods', 'Fishery', 'Code'), ('Consumer Goods', 'Fishery', 'Company Name'), ('Consumer Goods', 'Foods', 'Code'), ('Consumer Goods', 'Foods', 'Company Name'), ('Consumer Goods', 'Retail', 'Code'), ('Consumer Goods', 'Retail', 'Company Name'), ('Consumer Goods', 'Services', 'Code'), ('Consumer Goods', 'Services', 'Company Name'), ('Materials', 'Mining', 'Code'), ('Materials', 'Mining', 'Company Name'), ('Materials', 'Textiles & Apparel', 'Code'), ('Materials', 'Textiles & Apparel', 'Company Name'), ('Materials', 'Pulp & Paper', 'Code'), ('Materials', 'Pulp & Paper', 'Company Name'), ('Materials', 'Chemicals', 'Code'), ('Materials', 'Chemicals', 'Company Name'), ('Materials', 'Petroleum', 'Code'), ('Materials', 'Petroleum', 'Company Name'), ('Materials', 'Rubber', 'Code'), ('Materials', 'Rubber', 'Company Name'), ('Materials', 'Glass & Ceramics', 'Code'), ('Materials', 'Glass & Ceramics', 'Company Name'), ('Materials', 'Steel', 'Code'), ('Materials', 'Steel', 'Company Name'), ('Materials', 'Nonferrous Metals', 'Code'), ('Materials', 'Nonferrous Metals', 'Company Name'), ('Materials', 'Trading Companies', 'Code'), ('Materials', 'Trading Companies', 'Company Name'), ('Capital Goods/Others', 'Construction', 'Code'), ('Capital Goods/Others', 'Construction', 'Company Name'), ('Capital Goods/Others', 'Machinery', 'Code'), ('Capital Goods/Others', 'Machinery', 'Company Name'), ('Capital Goods/Others', 'Shipbuilding', 'Code'), ('Capital Goods/Others', 'Shipbuilding', 'Company Name'), ('Capital Goods/Others', 'Other Manufacturing', 'Code'), ('Capital Goods/Others', 'Other Manufacturing', 'Company Name'), ('Capital Goods/Others', 'Real Estate', 'Code'), ('Capital Goods/Others', 'Real Estate', 'Company Name'), ('Transportation and Utilities', 'Railway & Bus', 'Code'), ('Transportation and Utilities', 'Railway & Bus', 'Company Name'), ('Transportation and Utilities', 'Land Transport', 'Code'), ('Transportation and Utilities', 'Land Transport', 'Company Name'), ('Transportation and Utilities', 'Marine Transport', 'Code'), ('Transportation and Utilities', 'Marine Transport', 'Company Name'), ('Transportation and Utilities', 'Air Transport', 'Code'), ('Transportation and Utilities', 'Air Transport', 'Company Name'), ('Transportation and Utilities', 'Electric Power', 'Code'), ('Transportation and Utilities', 'Electric Power', 'Company Name'), ('Transportation and Utilities', 'Gas', 'Code'), ('Transportation and Utilities', 'Gas', 'Company Name')]

In [5]:
df.columns.get_level_values(0)

Index(['Technology', 'Technology', 'Technology', 'Technology', 'Technology',
       'Technology', 'Technology', 'Technology', 'Technology', 'Technology',
       'Financials', 'Financials', 'Financials', 'Financials', 'Financials',
       'Financials', 'Financials', 'Financials', 'Consumer Goods',
       'Consumer Goods', 'Consumer Goods', 'Consumer Goods', 'Consumer Goods',
       'Consumer Goods', 'Consumer Goods', 'Consumer Goods', 'Materials',
       'Materials', 'Materials', 'Materials', 'Materials', 'Materials',
       'Materials', 'Materials', 'Materials', 'Materials', 'Materials',
       'Materials', 'Materials', 'Materials', 'Materials', 'Materials',
       'Materials', 'Materials', 'Materials', 'Materials',
       'Capital Goods/Others', 'Capital Goods/Others', 'Capital Goods/Others',
       'Capital Goods/Others', 'Capital Goods/Others', 'Capital Goods/Others',
       'Capital Goods/Others', 'Capital Goods/Others', 'Capital Goods/Others',
       'Capital Goods/Others', 'Transportation and Utilities',
       'Transportation and Utilities', 'Transportation and Utilities',
       'Transportation and Utilities', 'Transportation and Utilities',
       'Transportation and Utilities', 'Transportation and Utilities',
       'Transportation and Utilities', 'Transportation and Utilities',
       'Transportation and Utilities', 'Transportation and Utilities',
       'Transportation and Utilities'],
      dtype='object')

In [6]:
Categoria = df.columns.get_level_values(0).tolist()
Industria = df.columns.get_level_values(1).tolist()

In [7]:
Industria

['Pharmaceuticals',
 'Pharmaceuticals',
 'Electric Machinery',
 'Electric Machinery',
 'Automobiles & Auto parts',
 'Automobiles & Auto parts',
 'Precision Instruments',
 'Precision Instruments',
 'Communications',
 'Communications',
 'Banking',
 'Banking',
 'Other Financial Services',
 'Other Financial Services',
 'Securities',
 'Securities',
 'Insurance',
 'Insurance',
 'Fishery',
 'Fishery',
 'Foods',
 'Foods',
 'Retail',
 'Retail',
 'Services',
 'Services',
 'Mining',
 'Mining',
 'Textiles & Apparel',
 'Textiles & Apparel',
 'Pulp & Paper',
 'Pulp & Paper',
 'Chemicals',
 'Chemicals',
 'Petroleum',
 'Petroleum',
 'Rubber',
 'Rubber',
 'Glass & Ceramics',
 'Glass & Ceramics',
 'Steel',
 'Steel',
 'Nonferrous Metals',
 'Nonferrous Metals',
 'Trading Companies',
 'Trading Companies',
 'Construction',
 'Construction',
 'Machinery',
 'Machinery',
 'Shipbuilding',
 'Shipbuilding',
 'Other Manufacturing',
 'Other Manufacturing',
 'Real Estate',
 'Real Estate',
 'Railway & Bus',
 'Railway & Bus',
 'Land Transport',
 'Land Transport',
 'Marine Transport',
 'Marine Transport',
 'Air Transport',
 'Air Transport',
 'Electric Power',
 'Electric Power',
 'Gas',
 'Gas']

In [8]:
sectores = {}

In [9]:
for i, j in zip(Categoria, Industria):
    sectores[j] = df.xs(j,level=1,axis=1).xs(i,level=0,axis=1).dropna()
    aux = sectores[j]
    aux['Code'] = aux['Code'].astype(int)
    aux['Code'] = aux['Code'].astype('str')+'.T'

In [10]:
sectores.keys()

dict_keys(['Pharmaceuticals', 'Electric Machinery', 'Automobiles & Auto parts', 'Precision Instruments', 'Communications', 'Banking', 'Other Financial Services', 'Securities', 'Insurance', 'Fishery', 'Foods', 'Retail', 'Services', 'Mining', 'Textiles & Apparel', 'Pulp & Paper', 'Chemicals', 'Petroleum', 'Rubber', 'Glass & Ceramics', 'Steel', 'Nonferrous Metals', 'Trading Companies', 'Construction', 'Machinery', 'Shipbuilding', 'Other Manufacturing', 'Real Estate', 'Railway & Bus', 'Land Transport', 'Marine Transport', 'Air Transport', 'Electric Power', 'Gas'])

In [15]:
Electric_Machinery = sectores['Electric Machinery']

In [17]:
Electric_Machinery

      Code                    Company Name
0   6479.T            MINEBEA MITSUMI INC.
1   6501.T                   HITACHI, LTD.
2   6503.T       MITSUBISHI ELECTRIC CORP.
3   6504.T         FUJI ELECTRIC CO., LTD.
4   6506.T          YASKAWA ELECTRIC CORP.
5   6526.T                  SOCIONEXT INC.
6   6594.T                     NIDEC CORP.
7   6645.T                     OMRON CORP.
8   6674.T                  GS YUASA CORP.
9   6701.T                       NEC CORP.
10  6702.T                    FUJITSU LTD.
11  6723.T       RENESAS ELECTRONICS CORP.
12  6724.T               SEIKO EPSON CORP.
13  6752.T        PANASONIC HOLDINGS CORP.
14  6753.T                     SHARP CORP.
15  6758.T                SONY GROUP CORP.
16  6762.T                       TDK CORP.
17  6770.T           ALPS ALPINE CO., LTD.
18  6841.T         YOKOGAWA ELECTRIC CORP.
19  6857.T                 ADVANTEST CORP.
20  6861.T                   KEYENCE CORP.
21  6902.T                     DENSO CORP.
22  6920.T                  LASERTEC CORP.
23  6952.T        CASIO COMPUTER CO., LTD.
24  6954.T                     FANUC CORP.
25  6963.T                  ROHM CO., LTD.
26  6971.T                   KYOCERA CORP.
27  6976.T           TAIYO YUDEN CO., LTD.
28  6981.T  MURATA MANUFACTURING CO., LTD.
29  7735.T       SCREEN HOLDINGS CO., LTD.
30  7751.T                      CANON INC.
31  7752.T                 RICOH CO., LTD.
32  8035.T             TOKYO ELECTRON LTD.

In [20]:
Electric_Machinery.iat[0,0]

'6479.T'

In [15]:
#aux['Code'] = aux['Code'].astype('str')+'.T'

In [14]:
aux['Code'][0]

'9531.0.T.T'

In [16]:
sectores['Automobiles & Auto parts']

       Code             Company Name
0  7201.0.T   NISSAN MOTOR CO., LTD.
1  7202.0.T        ISUZU MOTORS LTD.
2  7203.0.T       TOYOTA MOTOR CORP.
3  7205.0.T        HINO MOTORS, LTD.
4  7211.0.T  MITSUBISHI MOTORS CORP.
5  7261.0.T        MAZDA MOTOR CORP.
6  7267.0.T    HONDA MOTOR CO., LTD.
7  7269.0.T       SUZUKI MOTOR CORP.
8  7270.0.T             SUBARU CORP.
9  7272.0.T   YAMAHA MOTOR CO., LTD.